{% extends 'base.html.twig' %}

{% set title = 'match_details.title'|trans %}

{% block body %}
    <div class="match-details">
        {% if not match %}
            <div class="alert alert-danger">
                {{ 'match_details.not_found'|trans }}
            </div>
        {% endif %}

        {% if match %}
            {% include 'match/match.html.twig' %}
        {% endif %}
    </div>
{% endblock %}
