<div class="match-live">
    {% if poll %}
        <div class="alert alert-info" data-poll="1">
            {{ 'match_live.god_selection'|trans }}
        </div>
    {% endif %}

    {% if match %}
        {% include 'match/match.html.twig' with { 'currentPlayer': player } %}
    {% endif %}

    {% if not match and not poll %}
        <div class="alert alert-danger">
            {{ 'match_live.not_found'|trans({ '%profile%': path('player_profile', { 'playerId': player }) })|raw }}
        </div>
    {% endif %}
</div>
