html, body {
    width: 100%;
    height: 100%;
}

.match-live, .account-search {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    > div, > form {
        width: 50%;
    }
}

.multiple-accounts {
    margin-top: 25px;
}

form, .multiple-accounts-title {
    text-align: center;
}
