html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    > div, > form {
        width: 50%;
    }

    form {
        text-align: center;
    }

    .extra-info {
        margin-top: 25px;

        .alert {
            text-align: center;
        }
    }

    > .match-details, > .match-live {
        width: 75%;

        h3 {
            text-align: center;
        }

        .table {
            td {
                vertical-align: middle;
            }

            .table-bold {
                font-weight: bold;
            }
        }

        .btn-wrapper {
            text-align: center;
        }

        .alert {
            width: 67%; // to get roughly 50% of the parent
            margin-left: auto;
            margin-right: auto;
        }
    }
}
